button {
    border: none;
    width: 90px;
    height: 90px;
    border-radius: 45px;
    font-size: 40px;
}

.operators {
    background-color: orange;
    color: white;
}

input {
    width: 370px;
    height: 80px;
    border: none;
    font-size: 40px;
    text-align: right;
    padding-top: 30px;
    padding-right: 10px;
    background-color: black;
    color: white;
}

#history {
    color: gray;
    font-size: 30px;
}

#calculator {
    background-color: black;
    width: 370px;
    padding: 0px 4px 5px 4px;
}

#btn_result {
    height: 180px;
    background-color: rgb(255, 128, 0);
    color: white;
}

.not-working {
    background: gray;
}

#memo {
    margin-left: 20px;
    width: 500px;
}

#container {
    display: flex;
}